{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Developer tools</h1>
    </section>
{% endblock header %}

{% block onload %}
    {% if op == 'put' %}
        {% set op = 'get' %}
        document.getElementById('tform').addEventListener('submit', function(e) {
            console.log(e);
            var request = new XMLHttpRequest();
            request.open(putorpatch, '#', true);
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            data = [];
            e.target.querySelector('input[type="text"]').forEach(function(el){
                data[el.attr('name')] = el.value;
            });
            console.log(data);
            request.send(data);
            return false;
        });
    {% endif %}
    {% if op == 'cookie' %}
    {% endif %}
{% endblock onload %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10">
            {% include '@util/message.twig' %}
            <pre>{{array}}</pre>
            {% if op != 'cookie' %}
                {{f.startform({method: op, id: 'tform'})}}
                    {{f.text({label: 'Simple', name: 'exist', value: 42})}}
                    {{f.text({label: 'Array', name: 'aexist[]', value: 42})}}
                    {{f.text({label: 'Array', name: 'aexist[]', value: 42})}}
                    {{f.text({label: 'Array', name: 'nexist[14]', value: 42})}}
                    {{f.text({label: 'Array', name: 'nexist[15]', value: 42})}}
                    {{f.text({label: 'Array', name: 'kexist[key1]', value: 42})}}
                    {{f.text({label: 'Array', name: 'kexist[key2]', value: 42})}}
                    {{f.submit({value: 'test'})}}
                {{f.endform()}}
            {% endif %}
        </article>
    </section>
    {% include '@devel/tests/modalbody.twig' %}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
