{% import '@util/formmacro.twig' as f %}
{% import '@content/iconmacro.twig' as i %}
<table>
    <tbody>
        <tr><td>{{i.edit()}}</td></tr>
        <tr><td>{{i.delete()}}</td></tr>
        <tr><td>{{i.view()}}</td></tr>
        <tr><td>{{i.forward()}}</td></tr>
        <tr><td>{{i.fastfwd()}}</td></tr>
        <tr><td>{{i.backward()}}</td></tr>
        <tr><td>{{i.fastbwd()}}</td></tr>
        <tr><td>{{i.search()}}</td></tr>
        <tr><td>{{i.check()}}</td></tr>
        <tr><td>{{i.link()}}</td></tr>
        <tr><td>{{i.open()}}</td></tr>
        <tr><td>{{i.closed()}}</td></tr>
    </tbody>
</table>