{% import '@util/formmacro.twig' as f %}

    <table class="table table-striped">
        <tbody>
            <tr><td>Text</td><td>{{f.editable({type: 'text', field: 'test', title: 'Edit test', key: 42, value: 'This is a test', class: 'editable'})}}</td></tr>
            <tr><td>Empty Text</td><td>{{f.editable({type: 'text', field: 'empty', title: 'Edit empty', key: 42, value: '', class: 'editable'})}}</td></tr>
            <tr><td>Textarea</td><td>{{f.editable({type: 'textarea', field: 'tarea', title: 'Edit tarea', key: 42, value: 'this is a value', class: 'editable'})}}</td></tr>
            <tr><td>Select</td><td>{{f.editable({type: 'select', field: 'tsel', title: 'Make a selection', key: 42, value: 'yes', id:'edsel'})}}</td></tr>
            <tr><td>Select (with string)</td><td>{{f.editable({type: 'select', field: 'tsel', title: 'Make a selection', key: 42, value: 'no', id:'edsels'})}}</td></tr>
            <tr><td>Select (with int)</td><td>{{f.editable({type: 'select', field: 'tsel', title: 'Make a selection', key: 42, value: 0, id:'edseli'})}}</td></tr>
        </tbody>
    </table>