{% set breadcrumbs = [{link: base, text: 'Home'}, {text: 'Contact'}] %}
{% set schema = 'itemscope="" itemtype="http://schema.org/ContactPage"' %}
{% set usebootbox = FALSE %}
{% set title = 'Contact us' %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{% block headerbody %}
    <h1>Contact</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row">
        <article class="mx-auto col-md-10 col-lg-8">
            {% include '@util/message.twig' %}
            {{f.startform({id: 'cform', method: 'post'})}}
                {{f.hidden({name: 'details', value: '1'})}}
                {{f.text({label: 'Subject', id: 'sj', name: 'subject', ph: 'Subject', required: TRUE})}}
                {{f.textarea({label: 'Message', id: 'sj', name: 'message', ph: 'Message...', rows: 10, required: TRUE})}}
                {{f.email({label: 'Your Email Address', id: 'ms', name: 'sender', ph: 'Email Address', required: TRUE})}}
                {{f.submit({value: 'Send'})}}
            {{f.endform()}}
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}