{% set title = fwurls.sitename.value|upper ~ ': ' ~ heading %}

{% extends '@content/page.twig' %}

{% import "@content/iconmacro.twig" as i %}

{% block headerbody %}
    <h1 class="text-center">{{heading}}</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row mt-4">
        <article class="mx-auto col-lg text-center">
            <div class="jumbotron">
                {% if left %}
                    <div class="text-left">{{raw ? message|raw : message}}</div>
                {% else %}
                    <p>{{message}}</p>
                {% endif %}
            </div>
            <p><a href="{{base}}/" class="btn btn-primary">{{i.fa('home')}} Home Page</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
