{% extends '@content/page.twig' %}

{% import '@util/formmacros.twig' as f %}
{% import '@content/iconmacro.twig' as icon %}

{% block navigation %}
    {# Might not want navigation bar on a login page... #}
{% endblock navigation %}

{% block headerbody %}
    <h1 class="text-center">Please Log In</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row">
        <article class="mx-auto col">
            {% include '@util/message.twig' %}
            <form action="{{base}}/login" method="post" class="jumbotron">
                <input type="hidden" name="goto" value="{{goto}}"/>
                <fieldset>
                    <legend>Login</legend>
                    {{f.text({label: 'User Name', id: 'un', name: 'login', ph: 'User Name', required: TRUE})}}
                    {{f.password({label: 'Password', id: 'pw', name: 'password', ph: '************', required: TRUE})}}
        {#
                    <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="memo"/> Remember me
                                </label>
                            </div>
        #}
                    <p>
                        <button class="btn btn-primary" type="submit">{{icon.fa('sign-in-alt')}} Login</button>
                    </p>
                </fieldset>
                <p><small><a href="{{base}}/forgot">{{icon.fa('key')}} Lost password?</a></small></p>
                {% if register %}
                    <p><small><a href="{{base}}/confirm">{{icon.fa('envelope')}} Confirm email?</a></small></p>
                    <p>or</p>
                    <p><a class="btn btn-info btn-sm" href="{{base}}/register">{{icon.fa('pencil-alt')}} Register</a></p>
                {% endif %}
            </form>
        </article>
    </section>
{% endblock main %}
