{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@content/iconmacro.twig' as icon %}

{% block navigation %}
    {# Might not want navigation bar on a login page... #}
{% endblock navigation %}

{% block headerbody %}
    <h1 class="text-center">Log In</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row">
        <article class="mx-auto col-6 bg-light p-5">
            {% if context.hasUser %}
                <p>You are already logged in!</p>
            {% else %}
                {% include '@util/message.twig' %}
                {{f.startform({method: 'post'})}}
                    <input type="hidden" name="goto" value="{{goto}}"/>
                    {{f.startfset({legend: 'Login'})}}
                        {{f.text({label: 'User Name', id: 'un', name: 'login', ph: 'User Name', required: TRUE})}}
                        {{f.password({label: 'Password', id: 'pw', name: 'password', ph: '************', required: TRUE})}}
            {#
                        <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="memo"/> Remember me
                                    </label>
                                </div>
            #}
                    {{f.endfset()}}
                    {{f.bsubmit({rvalue: icon.fa('sign-in-alt') ~ ' Login', class: 'mb-3'})}}
                {{f.endform()}}
                <p><small><a href="{{base}}/forgot">{{icon.fa('key')}} Lost password?</a></small></p>
                {% if register %}
                    <p><small><a href="{{base}}/confirm">{{icon.fa('envelope')}} Confirm email?</a></small></p>
                    <p>or</p>
                    <p><a class="btn btn-info btn-sm" href="{{base}}/register">{{icon.fa('pencil-alt')}} Register</a></p>
                {% endif %}
            {% endif %}
        </article>
    </section>
{% endblock main %}
