{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import _self as h %}

{% block scripts %}
    <script {{h.urlattr(fwurls.utiljs)}}></script>
    <script {{h.urlattr(fwurls.editable)}}></script>
{% endblock scripts %}

{% block css %}
    <link rel="stylesheet" {{a.urlattr(fwurls.editablecss)}}/>
{% endblock css %}

{% block setup %}
    function editcall(params)
    {
        var url = base+'/ajax/bean/'+params.bean+'/'+params.pk+'/'+params.name+'/';
        return $.ajax(url,{
            method: 'PATCH',
            data: {
                value: params.value
            }
        })
    }

    function mkinline(type, name, msg, id, value)
    {
        return '{{f.inline(f.wrap('type'), f.wrap('name'), f.wrap('msg'), f.wrap('id'), f.wrap('value'))}}'
    }
    var kname = [];
    function paramset(params)
    {
        params.id = params.pk
        params.bean = 'page'
        params.op = 'update'
        return params
    }
    kname = [
        {% for v in types %}
            {value: {{loop.index}}, text: '{{v}}'}{{loop.last ? '' : ','}}
        {% endfor %}
    ]
    var clicks = [
        ['delb', dodelbean, ''],
        ['actb', dotoggle, 'active'],
        ['logn', dotoggle, 'needlogin'],
        ['mobo', dotoggle, 'mobileonly']
    ]
{% endblock setup %}

{% block onload %}
    $('.ppedit').editable({
        ajaxOptions: { type: 'PUT' },
        params: paramset,
        source: kname,
        onblur: 'cancel',
        url: editcall
    });
    $('#npform').on('submit', false)
    $('#addb').on('click', function(e){
    })
    $('#npage').on('show.bs.modal', function(e){
        $('#npform input,select').val('')
    })
{% endblock onload %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Bean &ldquo;{{bean.name}}&rdquo;</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        {% include '@util/message.twig' %}
        <article class="ml-auto col-md-10 mr-auto">
            <table class="table table-responsive table-striped">
                <tbody>
                    {% for name,type in bean.fields %}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{type}}</td>
                            {% if object is defined %}
                                {% set x = attribute(object, name) %}
                                {% if name ends with '_id' %}
                                    {% set xn = name|split('_') %}
                                    <td><a href="{{base}}/admin/view/bean/{{xn[0]}}/{{x}}">{{xn[0]}} {{x}}</a></td>
                                {% else %}
                                    <td>{% if view is defined %}{{x}}{% else %}{{f.inline('text', name, 'Enter '~name, object.getID, x)}}{% endif %}</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
