{% extends '@content/page.twig' %}

{% import '@content/iconmacro.twig' as i %}

{% block headerbody %}
    <h1>View Form "{{bean.name}}" <a href="{{base}}/admin/edit/form/{{bean.id}}">{{i.edit()}}</a></h1>
{% endblock headerbody %}

{% block main %}
    <section class="row mt-5">
        <article class="mx-auto col">
            {{bean.render|raw}}
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
