{% set ajax = TRUE %}
{% set x = context.web.addCSP('js', 'unsafe-inline') %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}
{% import _self as h %}

{% set allownew = view is not defined and object is not defined %}
{% set inline = view is not defined and object is defined %}

{% block scripts %}
    <script {{h.urlattr(fwurls.utiljs)}}></script>
    {% if allownew %}
        <script {{h.urlattr(fwurls.parsley)}}></script>
    {% endif %}
    {% if inline%}
        <script {{h.urlattr(fwurls.editable)}}></script>
    {% endif %}
{% endblock scripts %}

{% block css %}
    <link rel="stylesheet" {{h.urlattr(fwurls.editablecss)}}/>
{% endblock css %}

{% block setup %}
    {%if inline %} {# only want this if we are doing inline edits  #}
        function editcall(params)
        {
            var url = base+'/ajax/bean/'+params.bean+'/'+params.pk+'/'+params.name+'/';
            return $.ajax(url,{
                method: 'PATCH',
                data: {
                    value: params.value
                }
            });
        }

        function mkinline(type, name, msg, id, value)
        {
            return '{{f.inline(f.wrap('type'), f.wrap('name'), f.wrap('msg'), f.wrap('id'), f.wrap('value'))}}'
        }

        function paramset(params)
        {
            params.id = params.pk
            params.bean = '{{bean.name}}'
            params.op = 'update'
            return params
        }
    {% endif %}
{% endblock setup %}

{% block onload %}
    {%if inline %}
        $('.ppedit').editable({
            ajaxOptions: { type: 'PUT' },
            params: paramset,
            onblur: 'cancel',
            url: editcall
        });
    {% endif %}
    {% if allownew %}
        $('#nfform').on('submit', false).parsley();
        $('#addb').on('click', function(e){
            e.preventDefault();
            var pn = $('#nfname').val().toLowerCase();
            if (!pn.match(/^[a-z][a-z0-9.]*$/))
            {
                bootbox.alert('&quot;'+pn+'&quot; is not a valid field name. Letters and numbers only');
                return;
            }
            var sp = null;
            var error = false;
            $('.fname').each(function(e){
                var t = $(this).text();
                if (t == pn)
                {
                    error = true;
                    return false;
                }
                if (t > pn)
                {
                    sp = $(this);
                    return false;
                }
            })
            if (error)
            {
                bootbox.alert('That field already exists');
                return;
            }
        })
        $('#nfield').on('show.bs.modal', function(e){
            $('#nfform input,select').val('');
        })
    {% endif %}
{% endblock onload %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Bean &ldquo;{{bean.name}}&rdquo;</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        {% include '@util/message.twig' %}
        <article class="ml-auto col-md-10 mr-auto">
            <table class="table table-responsive table-striped">
                <tbody>
                    {% for name,type in bean.fields %}
                        <tr>
                            <td class="fname">{{name}}</td>
                            <td>{{type}}</td>
                            {% if object is defined %}
                                {% set x = attribute(object, name) %}
                                {% if name ends with '_id' %}
                                    {% set xn = name|split('_') %}
                                    <td><a href="{{base}}/admin/{{ view is defined ? 'view' : 'edit'}}/table/{{xn[0]}}/{{x}}">{{xn[0]}} {{x}}</a></td>
                                {% else %}
                                    <td>{% if view is defined %}{{x}}{% else %}{{f.inline('text', name, 'Enter '~name, object.getID, x)}}{% endif %}</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if allownew %}
                <p><button class="btn btn-primary" data-toggle="modal" data-target="#nfield" type="button">Add Field</button></p>
            {% endif %}
        </article>
    </section>
    {% if allownew %}
        <div class="modal fade" id="nfield" aria-labelledby="nfield" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    {{m.header({title: 'New Field'})}}
                    <div class="modal-body">
                        <form action="#" method="POST" id="nfform">
                            {{f.text({label: 'Name', id: 'nfname', ph: 'Field Name', required: TRUE, parsley: {type: 'alphanum'} })}}
                            {{f.text({label: 'Sample Value', id: 'nsamp', ph: 'Sample field value'})}}
                        </form>
                    </div>
                    {{m.footer({action: 'Add', id: 'addb'})}}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
