{% macro accordion(id, tabs, carets = FALSE) %}
    {% import '@content/iconmacro.twig' as fa %}
    <div class="accordion" id="{{id}}">
        {% for t in tabs %}
            <div class="card">
                <div class="card-header" id="{{t.id}}">
                    <h4 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#col{{t.id}}" aria-expanded="true" aria-controls="col{{t.id}}">{{t.title}}{% if carets %} {{fa.fa('caret-right')}}{% endif %}</button>
                    </h4>
                </div>
                <div id="col{{t.id}}" class="collapse" aria-labelledby="{{t.id}}" data-parent="#{{id}}">
                    <div class="card-body">
                        {% if t.with is defined %}
                            {% include t.file with t.with%}
                        {% else %}
                            {% include t.file%}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro accordion %}

{% macro caretJS(id) %}
    let v{{id}} = fwdom.mkjQ(document.getElementById('{{id}}'));
    v{{id}}.on('show.bs.collapse', function(e){
        let ch = e.target.closest('.card');
        console.log(e);
        fwdom.toggleClass(ch.getSelectorAll('.fa-caret-right'), ['fa-caret-right', 'fa-caret-down']);
    })
    v{{id}}.on('hide.bs.collapse', function(e) {
        let ch = e.target.closest('.card');
        fwdom.toggleClass(ch.getSelectorAll('.fa-caret-down'), ['fa-caret-right', 'fa-caret-down']);
    });
{% endmacro caretJS %}