<!doctype html>
<!--[if lt IE 9]><html class="ie"{% if lang is defined %} lang="{{lang}}"{% endif %}><![endif]-->
<!--[if gte IE 9]><!--><html{% if lang is defined %} lang="{{lang}}"{% endif %}><!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{{fwurls.sitename.value|upper}}{% if action != 'home' %} &mdash; {{action}}{% endif %}{% endblock title %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    {% if keywords is defined %}
        <meta name="keywords" content="{{keywords}}"/>
    {% endif %}

    {% if description is defined %}
        <meta name="description" content="{{description}}"/>
    {% endif %}

    {% import '@util/attrmacro.twig' as h %}

    {% block favicons %}
    {% endblock favicons %}

    {% if usebootstrapcss %}
        <link rel="stylesheet" {{h.urlattr(fwurls.bootcss)}} media="screen,print"/>
    {% endif %}
    {% if usevue %}
        <link rel="stylesheet" {{h.urlattr(fwurls.bootvuecss)}}/>
    {% endif %}
    {% if fwurls.facss.type == 'css' %}
        <link rel="stylesheet" {{h.urlattr(fwurls.facss)}}/>
    {% endif %}
    <link rel="stylesheet" href="{{assets}}/css/layout.min.css" media="screen"/>

    {% block head %}
    {% endblock head %}
</head>
<body lang="{{deflang is defined ? deflang : 'en-GB'}}">
    {% block body %}
    {% endblock body %}

    {% if usevue %}
        <script {{h.urlattr(fwurls.vuejs)}}></script>
        <script {{h.urlattr(fwurls.bootvuejs)}}></script>
    {% else %}
        {% if ajax %}
            <script {{h.urlattr(fwurls.jquery)}}></script>
        {% elseif usejquery %}
            <script {{h.urlattr(fwurls.jqueryslim)}}></script>
        {% endif %}
        {% if usebootstrapjs %}
            <script {{h.urlattr(fwurls.popperjs)}}></script>
            <script {{h.urlattr(fwurls.bootjs)}}></script>
        {% endif %}
        {% if usebootbox %}
            <script {{h.urlattr(fwurls.bootbox)}}></script>
        {% endif %}
    {% endif %}

    {% if fwurls.facss.type == 'js' %}
        <script {{h.urlattr(fwurls.facss)}}></script> {# if you are using a font awesome kit #}
    {% endif %}

    {% block userscripts %}
    {% endblock userscripts %}

    {% set sjs, ojs = '', context.getons %}
    {% if block('setup') is defined %}{% set sjs = sjs ~ block('setup')|trim %}{% endif %}
    {% if block('onload') is defined %}
        {% set ojs = ojs~block('onload')|trim %}
        {% if ojs|length > 0 %}{% set ojs = '$(function(){'~ojs~'});' %}{% endif %}
    {% endif %}
    {% set js = sjs~ojs %}
    {% if js|length > 0 %}
        {% set js = "const base = '"~base~"', putorpatch = '" ~ constant('Config\\Config::PUTORPATCH') ~ "';" ~ sjs ~ "\n" ~ ojs %}
        <script hash="{{context.web.saveCSP('script-src', js)}}">{{js|raw}}</script>
    {% endif %}
</body>
</html>
