<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{{fwurls.sitename|upper}}{% endblock title %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
{% macro vshow(name, value) %}
{{value != '' ? ' '~name~'="'~value~'"'}}
{% endmacro vshow }
{% macro urlattr(fwv) %}
{% import _self as h %}
{{fwv.type == 'js' ? 'src' : 'href'}}="{{fwv.value}}"{{h.vshow('integrity', fwv.integrity}}{{h.vshow('crossorigin',fwv.crossorigin}}{{fwv.defer != '' ? ' defer'}}{{fwv.async != '' ? ' async'}}
{% endmacro urlattr %}

{% import _self as h %}

{#
    <link rel="shortcut icon" href="{{assets}}/img/favicon.png"/>
    <link rel="icon" type="image/png" href="{{assets}}/img/favicon.png"/>
#}
{#
    <link rel="apple-touch-icon" href="{{assets}}/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{assets}}/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{assets}}/ico/apple-touch-icon-114x114.png">
#}
    <link rel="stylesheet" {{h.urlattr(fwurls.bootcss)}} media="screen,print"/>
    <link rel="stylesheet" {{h.urlattr(fwurls.facss)}}/>
    <link rel="stylesheet" href="{{assets}}/css/layout.min.css" media="screen"/>

    {% block head %}
    {% endblock head %}
</head>
<body lang="en-GB">
    {% block body %}
    {% endblock body %}

    {% if ajax %}
        <script {{h.urlattr(fwurls.jquery)}}></script>
    {% else %}
        <script {{h.urlattr(fwurls.jqueryslim)}}></script>
    {% endif %}

    <script {{h.urlattr(fwurls.popperjs)}}></script>
    <script {{h.urlattr(fwurls.bootjs)}}></script>
    <script {{h.urlattr(fwurls.bootbox)}}></script>

    {% block userscripts %}
    {% endblock userscripts %}

    {% set sjs, ojs = '', '' %}
    {% if block('setup') is defined %}{% set sjs = block('setup')|trim %}{% endif %}
    {% if block('onload') is defined %}
        {% set ojs = block('onload')|trim %}
        {% if ojs|length > 0 %}{% set ojs = '$(function(){'~ojs~'});' %}{% endif %}
    {% endif %}
    {% set js = sjs~ojs %}
    {% if js|length > 0 %}
        {% set js = "var base = '"~base~"';" ~ sjs ~ "\n" ~ ojs %}
        <script hash="md5-{{md5(js)}}">{{js|raw}}</script>
    {% endif %}
</body>
</html>
