{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f%}

{% block headerbody %}
    <h1>Resend Confirmation Email</h1>
{% endblock headerbody %}

{% block navigation %}
{% endblock navigation %}

{% block main %}
    <section class="row" id="frontpage">
        <article class="mx-auto col mt-5">
            {% include '@util/message.twig' %}
            {{f.startform({action : base~'/confirm/resend', method: 'post', class: 'jumbotron'})}}
                {{f.startfieldset({legend: 'Resend Email Confirmation Message'})}}
                    {{f.text({label: 'User Name', name: 'eorl', ph: 'Your user name or email address', required: TRUE})}}
                    {{f.submit({value: 'Resend'})}}
                {{f.endfieldset()}
            {{f.endform()}}
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
