{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}
{% import _self as h %}

{% block scripts %}
    <script {{h.urlattr(fwurls.parsley)}}></script>
{% endblock scripts %}

{% block onload %}
    $('#nbform').on('submit', false).parsley();
    $('.ppedit').editable({
        ajaxOptions: { type: 'PUT' },
        params: paramset,
        source: kname,
        onblur: 'cancel',
        url: editcall
    });
    $('#npform').on('submit', false)
    $('#addb').on('click', function(e){
        e.preventDefault()
        var name = $('#npname').val()
        $('#npage').modal('hide');
        var fn = function(data){
                var htm = '<tr><td>'+name+'</td>'+
                '<td><a href="/admin/view/table/'+data+'"><i class="editb far fa-eye"></i></a></td>'+
                '<td><a href="/admin/edit/table/'+data+'"><i class="editb far fa-edit"></i></a></td></tr>';
                var nx
                if (sp == null)
                {
                     nx = $(htm).appendTo($('#ptab tbody'));
                }
                else
                {
                    nx = $(htm).insertBefore(sp.parent());
                }
                nx.data('id', data);
            };
        $.post('{{base}}/ajax/table', dt).done(fn).fail(function(){
            bootbox.alert('Failed to create new bean');
        });
    })
//    $('#ptab').on('click', function(e){
//        var x = $(e.target)
//        for (var ix in clicks)
//        {
//            if (x.hasClass(clicks[ix][0]))
//            {
//                clicks[ix][1](e, x, 'page', clicks[ix][2])
//            }
//        }
//    })
    $('#nbean').on('show.bs.modal', function(e){
        $('#nbform input,select').val('')
    })
    $('#more').on('click', function(e){
        e.preventDefault()
        $('#mrow').before($('#example').clone())
        $('input', $('#mrow').prev()).val('') // clear the new inputs
        $('option', $('#mrow').prev()).prop('selected', false) // clear any selections
    })
{% endblock onload %}

{% if not page is defined %}
    {% set page = 1 %}
    {% set pagesize = 10 %}
{% endif %}

{% set beans = siteinfo.beans(FALSE) %}

{% set pages = (beans|length + pagesize)/pagesize %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Beans</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="offset-md-1 col">
            {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
            <table class="table table-responsive table-striped table-hover" id="ptab">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nb in beans %}
                        <tr data-bean="{{nb.name}}">
                            <td class="bname">{{nb.name}}</td>
                            <td><a href="{{base}}/admin/view/bean/{{nb.name}}"><i class="editb far fa-eye"></i></a></td>
                            <td><a href="{{base}}/admin/edit/bean/{{nb.name}}"><i class="editb far fa-edit"></i></a></td>
                        </td>
                    {% else %}
                        <tr><td colspan="4">No beans defined</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
	    <p><button class="btn btn-primary" data-toggle="modal" data-target="#nbean" type="button">Add Bean</button></p>
        </article>
    </section>
    <div class="modal fade" id="nbean" aria-labelledby="nbean" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                {{m.header({title: 'New Bean'})}}
                <div class="modal-body">
                    <form action="#" method="POST" id="nbform">
                        {{f.text({label: 'Name', id: 'nbname', ph: 'Bean Name', name: 'name', required: TRUE, parsley: [ 'trigger' => "change",
                            'remote-reverse' => "false", 'remote' => base ~ '/ajax/tablecheck/{value}',
                            'remote-message' => "That bean exists already", 'type' => 'alphanum'] })}}
                        <fieldset id="example">
                            {{f.text({label: 'Field', id: '', name: 'field[]', ph: 'Field Name'})}}
                            {{f.text({label: 'Value', id: '', name: 'sample[]', ph: 'Field Sample Value'})}}
                        </fieldset>
                        <p id="mrow">
                            <button class="btn btn-small" id="more">More</button>
                        </p>
                    </form>
                </div>
                {{m.footer({action: 'Add', id: 'addb'})}}
            </div>
        </div>
    </div>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
