{% set fwutils = TRUE %}
{% set validate = TRUE %}
{% set usebootbox = FALSE %}

{% extends '@content/page.twig' %}

{% import '@content/iconmacro.twig' as i %}
{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}

{% set methods = ['PARTIAL', 'GET', 'POST', 'PUT', 'PATCH', 'DELETE'] %}

{% block setup %}
    var clicks = [
        ['delb', framework.dodelbean, ''],
        ['editb', framework.goedit],
        ['viewb', framework.goview],
    ]
    var mname = ['PARTIAL', 'GET', 'POST', 'PUT', 'PATCH', 'DELETE'];
{% endblock setup %}

{% block onload %}
    fwdom.on('#addfform', 'submit', function(e){fwdom.stop(e); return false; });
    fwdom.mkjQ('#addfform').parsley()
    fwdom.on('#addb', 'click', function(e){
        fwdom.stop(e)
        this.disabled = true;
        let data = {}
        const frm = document.getElementById('addfform');
        for (let sel of ['checked', 'text'])
        {
            frm.querySelectorAll('input:'+sel).foreach(function(el, index){
                 data[el.getAttribute('name')] = el.value;
            });
        }
        framework.beanCreate('{{constant('Config\\Framework::FORM')}}', data, function(ret){
            bootstrap.Modal.getOrCreateInstance(document.getElementById('addf')).hide();
            let newd = document.createElement('tr');
            newd.setAttribute('data-id', ret);
            newd.innerHTML = '<td>' + data.name + '</td>'+
                '<td>' + data.action + '</td><td>' + data.idval + '</td><td>' + mname[data.method] + '</td>' +
                '<td>' + (data.multipart != undefined ? '{{i.check()}}' : '') + '</td>' +
                '<td title="View">{{i.view('viewb')}}</td><td title="Edit">{{i.edit('editb')}}</td><td>{{i.delete('delb')}}</td></tr>';
            fwdom.on('.delb', 'click', deltable, newd);
            document.querySelector('#utab').appendChild(newd);
            framework.doBGFade('#utab:last-child', [245,255,159], [255,255,255], 'transparent', 75, 20, 4)
        }, 'addb');
    });
    fwdom.on('#utab', 'click', function(e){ e.data = {bean: '{{constant('Config\\Framework::FORM')}}', clicks: clicks}; framework.containerClick(e); });
{% endblock onload %}

{% block headerbody %}
    <h1>Forms</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row">
        <article class="mx-auto col">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                        <th>ID</th>
                        <th>Class</th>
                        <th>Method</th>
                        <th>Multipart</th>
                        <th colspan="3">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="#utab">
                    {% for u in siteinfo.forms %}
                    <tr data-id="{{u.id}}">
                        <td>{{u.name}}</td>
                        <td>{{u.action}}</td>
                        <td>{{u.idval}}</td>
                        <td>{{u.class}}</td>
                        <td>{{methods[u.method]}}</td>
                        <td>{{f.tick(u.multipart)}}</td>
                        <td title="View">{{i.view('viewb')}}</td>
                        <td title="Edit">{{i.edit('editb')}}</td>
                        <td title="Delete">{{i.delete('delb')}}</td>
                    </tr>
                    {% else %}
                        <tr><td colspan="4">No forms defined</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>{{m.invoke('#addf', 'Add a Form')}}</p>
        </article>
    </section>
    {{m.open({id: 'addf', title: 'Add a Form'})}}
    <div class="modal-body">
        {{f.startform({method: 'post', id: 'addform'})}}
            {{f.text({label: 'Form Name', ph: 'Form Name - alphanumeric characters only', name: 'name', required: TRUE, valid: {trigger: 'change', type: 'alphanum'} })}}
            {{f.text({label: 'Form Action', ph: 'Form Action URL', name: 'action', valid: {trigger: 'change', type: 'url'} })}}
            {{f.text({label: 'Form ID', ph: 'Form ID', name: 'idval', valid: {trigger: 'change', type: 'alphanum'} })}}
            {{f.text({label: 'Form Class', ph: 'Form Class', name: 'class' })}}
            {{f.radio({name: 'method', values:[1, 2, 0], labels: ['GET', 'POST', 'PARTIAL'], check: [TRUE, FALSE, FALSE]})}}
            <br/>
            {{f.checkbox({names: ['multipart'], values:[1], labels: ['Multipart Encoded']})}}
        {{f.endform()}}
    </div>
    {{m.close({action: 'Add', id: 'addb'})}}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
