{% set ajax = TRUE %}
{# Role names and Context names pages are identical apart from the typology #}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}
{% import _self as h %}

{% block scripts %}
    <script {{h.urlattr(fwurls.utiljs)}}></script>
    <script {{h.urlattr(fwurls.parsley)}}></script>
{% endblock scripts %}

{% set ctype = type|capitalize %}

{% block onload %}
    $('#nrform').on('submit', false).parsley();
    $('#addb').on('click', function(e){
        e.preventDefault();
        var pn = $('#nrname').val();
        if (!pn.match(/^[a-zA-Z][a-zA-Z0-9]*$/))
        {
            bootbox.alert('&quot;'+pn+'&quot; is not a valid {{type}} name. Letters and numbers only');
            return;
        }
        var sp = null;
        var error = false;
        $('.rname').each(function(e){
            var t = $(this).text();
            if (t == pn)
            {
                error = true;
                return false;
            }
            if (t > pn)
            {
                sp = $(this);
                return false;
            }
        });
        if (error)
        {
            bootbox.alert('That {{type}} name already exists');
            return;
        }
        $('#nrole').modal('hide');
        var htm = '<tr><td>'+pn+'</td><td>'+mktoggle('fixed', 0)+'</td><td><i class="delb far fa-trash-alt"></i></td></tr>';
        var nx;
        if (sp == null)
        {
            nx = $(htm).appendTo($('#rtab tbody'));
        }
        else
        {
            nx = $(htm).insertBefore(sp.parent());
        }
        $.post('{{base}}/ajax/bean/{{beantype}}/', {
            name : pn,
        }).done(function(data){
               nx.data('id', data)
        }).fail(function(jqXHR, textStatus, errorThrown){
            bootbox.alert('<h3>Failed to create new {{type}} name</h3>'+jqXHR.responseText);
        });
    });
    $('#rtab').on('click', function(e){
            var x = $(e.target)
        if (x.hasClass('delb'))
        {
                dodelbean(e, x, '{{beantype}}');
        }
        else if (x.hasClass('fixed'))
        {
            dotoggle(e, x, '{{beantype}}', 'fixed');
        }
    });
    $('#nrole').on('show.bs.modal', function(e){
        $('#nrform input').val('');
    });
{% endblock onload %}

{% if not page is defined %}
    {% set page = 1 %}
    {% set pagesize = 10 %}
{% endif %}

{% set pages = (siteinfo.count(beantype) + pagesize)/pagesize %}

{% block header %}
    <section class="col-md-12 mt-5">
	<h1>{{ctype}} Names</h1>
    </section>
{% endblock header %}

{% block main %}
    {% import _self as h %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto">
            {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
            <table class="table table-striped table-hover" id="rtab">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Fixed</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in attribute(siteinfo, fcall, page, pagesize) %}
                        <tr data-id="{{r.id}}">
                            <td class="rname">{{r.name}}</td>
                            <td>{{f.tick(r.fixed, 'fixed')}}</td>
                            <td>{% if r.fixed %}&nbsp;{% else %}<i class="delb far fa-trash-alt"></i>{% endif %}</td>
                        </tr>
                    {% else %}
                        <tr><td colspan="3">No {{type}} names defined</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
            {{m.invoke('nroco', 'Add ' ~ ctype ~ ' Name')}}
        </article>
    </section>
    {{m.open({id: 'nroco', title: 'New ' ~ ctype ~ ' Name'})}}
    <div class="modal-body">
        <form action="#" method="POST" id="nrform">
            <div class="form-group">
                {{f.text({id: 'nrname', label: 'Name', ph: ctype ~ ' Name', required: TRUE, parsley: { trigger: 'change',
                'remote-reverse': 'false', remote: base~'/ajax/unique/rolename' ~ beantype ~ '/name/{value}',
                'remote-message': 'That ' ~ type ~ ' name is not available', type: 'alphanum'} })}}
            </div>
       </form>
    </div>
    {{m.close({action: 'Add', id: 'addb'})}}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}