{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block scripts %}
    <script src="{{assets}}/js/util.js"></script>
{% endblock scripts %}

{% block onload %}
    $('#inval').hide()
    $('#cfr').on('submit', false);
    $('.cval').on('blur', function(e){
        e.preventDefault()
        var t = $(this)
        $.post('{{base}}/ajax.php', {
                op :'confvalue',
                name : t.prop('name'),
                value: t.val()
            },
            function(data){
            }
        )
    })
    $('.nname').on('blur', function(e){
        e.preventDefault()
        var t = $(this)
	var name = t.val()
	if (name != '')
        {
	    if (!name.match(/^[a-z][a-z0-9]+$/i))
	    {
	        bootbox.alert('Invalid name format')
		t.val('')
	    }
	    else if ($('input[name="'+name+'"]').length != 0)
	    {
	        bootbox.alert('That item already exists')
	    }
	    else
	    {
	        $('#inval').show()
		$('#Xnewval').focus()
	    }
        }
    })
    $('.nval').on('blur', function(e){
        e.preventDefault()
        var t = $(this)
	var name = $('.nname').val()
	var value = t.val()
        $.post('{{base}}/ajax.php', {
                op :'newconf',
                name : name,
                value: value
            },
            function(data){
	        $('.nname').parent().prev().after('<div class="form-group"><label for="X'+name+'">'+name+'</label><input type="text" id="X'+
		    name+'" name="'+name+'" value="'+value+'" class="form-control cval"/></div>')
		$('.nname').val('')
		t.val('')
		$('#inval').hide()
            }
        )
    })
{% endblock onload %}

{% if not page is defined %}
    {% set page = 1 %}
    {% set pagesize = 10 %}
{% endif %}

{% set pages = (siteinfo.count('fwconfig')/pagesize)|round(0, 'ceil') %}

{% block header %}
    <section class="col-md-12">
        <h1>Configuration Values</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <form id="cfr" action="#" method="post">
                {% include 'paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
                {% for p in siteinfo.siteconfig(page, pagesize) %}
                    {{f.text({label: p.name, name: p.name, class: 'cval', id: 'X'~p.name, value: p.value })}}
                {% endfor %}
                {% include 'paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
                <div class="jumbotron">
                    {{f.text({label: 'New Config', name: 'newconf', class: 'nname', id: 'Xnewconf', ph: 'Name for new config item' })}}
                    <div id="inval">
                        {{f.text({label: 'New Value', name: 'newval', class: 'nval', id: 'Xnewval', ph: 'Value for new config item' })}}
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
