{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import _self as h %}

{% block scripts %}
    <script {{h.urlattr(fwurls.parsley)}}></script>
    <script {{h.urlattr(fwurls.utiljs)}}></script>
{% endblock scripts %}

{% block onload %}
     $('#more').on('click', function(e){
        var mrow = $('#mrow');
        mrow.before($('#example').clone());
        var pr = $mrow.prev();
        $('input', pr).val(''); // clear the inputs
        $('option', pr).prop('selected', false); // clear any selections
        $('.delb', pr).on('click', function(e){
            dodelbean(e, this, 'pagerole');
        });
    });
    $('#uform').on('submit', function(e){
        return $(this).parsley().validate()
    });
    $('.delb').on('click', function(e){
        dodelbean(e, this, 'pagerole');
    });
{% endblock onload %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Page &ldquo;{{bean.name}}&rdquo;</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto">
            {% include '@util/message.twig' %}
            <form action="#" method="post" id="uform" data-parsley-validate>
                {{f.hidden({name: 'bean', value: bean.name})}}
                {{bean.guard|raw}}
                <button class="btn btn-primary btn-lg" type="submit">Save</button>
            </form>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
