{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@util/attrmacro.twig' as h %}

{% block scripts %}
    <script {{h.urlattr(fwurls.parsley)}}></script>
    <script {{h.urlattr(fwurls.utiljs)}}></script>
{% endblock scripts %}

{% block onload %}
     $('#more').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        const mrow = $('#mrow');
        mrow.before($('#example').clone());
        const pr = $mrow.prev();
        $('input', pr).val(''); // clear the inputs
        $('option', pr).prop('selected', false); // clear any selections
        $('.delb', pr).on('click', function(e){
            framework.dodelbean(e, this, '{{constant('Config\\Framework::PAGEROLE')}}');
        });
    });
    $('#uform').on('submit', function(e){
        return $(this).parsley().validate()
    });
    $('.delb').on('click', function(e){
        framework.dodelbean(e, this, '{{constant('Config\\Framework::PAGEROLE')}}');
    });
{% endblock onload %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Page &ldquo;{{bean.name}}&rdquo;</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto">
            {% include '@util/message.twig' %}
            <form action="#" method="post" id="uform" data-parsley-validate>
                {{f.hidden({name: 'bean', value: bean.id})}}
                {{bean.guard|raw}}
                <fieldset>
                    <legend>Page Name</legend>
                    {{f.text({ label: 'Name', id: 'ln', name: 'name', value: bean.name, required: TRUE})}}
                </fieldset>
                <fieldset>
                    <legend>Page Type</legend>
                    <div class="form-group">
                        {{f.select({id: 'npkind', label : 'Kind', name: 'kind', required: TRUE, selected: bean.kind,
                            options: [
                                {value: '', text: '&mdash; Pick a Type &mdash;'},
                                {value: 1,  text: 'Object'},
                                {value: 2,  text: 'Template'},
                                {value: 4,  text: 'In-site 301'},
                                {value: 6,  text: 'External 301'},
                                {value: 3,  text: 'In-site 302'},
                                {value: 5,  text: 'External 302'},
                                {value: 7,  text: 'In-site 303'},
                                {value: 8,  text: 'External 303'},
                                {value: 9,  text: 'In-site 307'},
                                {value: 10,  text: 'External 307'},
                                {value: 11,  text: 'Internal 308'},
                                {value: 12,  text: 'External 308'},
                            ]
                        })}}
                    </div>
                    <fieldset>
                        <legend>Parameter Spec</legend>
                        {{f.text({ label: 'Parameters', id: 'pm', name: 'params', value: bean.params})}}
                    </fieldset>
                    <div class="form-group">
                        <label for="npsrc">Source</label>
                        <input type="text" class="form-control" id="npsrc" name="source" value="{{bean.source}}" placeholder="page.twig, class name, /local/redirection or URL" required="required"/>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label"><input type="checkbox" value="1" id="npactive" name="active"{% if bean.active %} checked="checked"{% endif %}/> Active</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label"><input type="checkbox" value="1" id="npmobile" name="mobileonly"{% if bean.mobileonly %} checked="checked"{% endif %}/> Mobile Only</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label"><input type="checkbox" value="1" id="nplogin" name="needlogin"{% if bean.needlogin %} checked="checked"{% endif %}/> Must Login</label>
                    </div>
                </fieldset>
                {% include '@admin/roleselect.twig' with {bean : bean } %}
                <button class="btn btn-primary btn-lg" type="submit">Save</button>
            </form>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
