{% extends 'page.twig' %}

{% block scripts %}
    <script src="{{fwurls.parsley[0]}}"></script>
{% endblock scripts %}

{% block setup %}
    function shbit(btn, id)
    {
        var ce = $('#'+id)
        if (btn.is(':checked'))
        { // show fieldset and enable inputs
            ce.show();
            $('input', ce).prop('disabled', false)
        }
        else
        { // hide and disable
            ce.hide();
            $('input', ce).prop('disabled', true)
        }
        }
{% endblock setup %}

{% block onload %}
    $('#mailconfig,#cfem').hide()
    $('#mailon').on('click', function(){ shbit($(this), 'mailconfig'); });
    $('#regis').on('click', function(){ shbit($(this), 'cfem'); });
{% endblock onload %}

{% block main%}
    <div class="row">
        <div class="ml-auto col-md-8 mr-auto">
            <h1>Framework Installer</h1>
            {% if fail %}
                <h2>Error!!</h2>
                {% if hashname %}
                    <h3><span class="label label-danger"># character in site directory name</span></h3>
                    <p>
                        The directory you are installing into has a # character in its name.
                        This will cause an error in the function debase in class Local where a # is used
                        as a regular expression delimiter.
                    </p>
                    {% endif %}
                {% if phpversion %}
                    <h3><span class="label label-danger">PHP version too old</span></h3>
                    <p>
                        The version of PHP you are running does not have support for some of the language and library
                        features needed by the framework. Please install the most recent version of the system.
                    </p>
                {% endif %}
                {% if nodotgw %}
                    <h3><span class="label label-danger">No write access to directory &quot;{{dir}}&quot;</span></h3>
                    <p>
                        The installer needs to create a file in this directory. Your web server is probably running
                        under a special user id and group - you need to either change the owner of the directory
                        to be the webserver user or change the group to be the same as the web server and do a chmod g+w.
                    </p>
                {% endif %}
                {% if noclassgw %}
                    <h3><span class="label label-danger">No write access to directory &quot;{{dir}}/class&quot;</span></h3>
                    <p>
                        The installer needs to create a file in this directory. Your web server is probably running
                        under a special user id and group - you need to either change the owner of the directory
                        to be the webserver user or change the group to be the same as the web server and do a chmod g+w.
                    </p>
                {% endif %}
                {% if noassets %}
                    <h3><span class="label label-danger">No write access to directory &quot;{{dir}}/assets&quot;</span></h3>
                    <p>
                        You have asked for support for publically accessible uploaded files so the installer needs to
                        create a sub-directory in this directory. Your web server is probably running
                        under a special user id and group - you need to either change the owner of the directory
                        to be the webserver user or change the group to be the same as the web server and do a chmod g+w.
                    </p>
                {% endif %}
                {% if nowhtaccess %}
                    <h3><span class="label label-danger">No write access to .htaccess</span></h3>
                    <p>
                        The installer needs to to write to .htaccess. Your web server is probably running
                        under a special user id and group - you need to either change the owner of the file
                        to be the webserver user or change the group to be the same as the web server and do a chmod g+w.
                    </p>
                {% endif %}
                {% if direrr %}
                    <h3><span class="label label-danger">Error creating directories</span></h3>
                    {% for x in dirmsg %}
                        <h5>{{x}}</h5>
                    {% endfor %}
                    <p>
                        Check that the server has write permission to where the directories that are being creeated are set correctly.
                    </p>
                {% endif %}
                {% if dberror %}
                    <h3><span class="label label-danger">Error initialising database : &quot;{{dberror}}&quot;</span></h3>
                    <p>
                        Check that you have created the database &quot;{{dbname}}&quot; on host &quot;{{dbhost}}&quot; and that
                        the user &quot;{{dbuser}}&quot; has access to it using the password you specified.
                    </p>
                {% endif %}
            {% else %}
{#
                {% if timezone %}
                    <h3><span class="label label-warning">Possible Timezone Error</span></h3>
                    <p>
                        It looks as though the timezone in your php.ini file may be set incorrectly for your region.
                    </p>

                {% endif %}
 #}
                <form action="#" method="post" class="well" data-parsley-validate="parsley"/>
                    <fieldset>
                        <legend>Site Information</legend>
                        <div class="form-group">
                            <label for="sn" class="control-label">Site Name</label>
                            <input type="text" id="sn" name="sitename" value="{{name}}" placeholder="The name of your site"
                                class="form-control" required="required" data-parsley-type="alphanum"/>
                        </div>
                        <div class="form-group">
                            <label for="sn" class="control-label">Site URL</label>
                            <input type="text" id="sn" name="siteurl" value="{{siteurl}}" placeholder="The canonical url for your site" class="form-control"
                              required="required" data-parsley-type="url"/>
                        </div>
                        <div class="form-group">
                            <label for="sn" class="control-label">Site No Reply Email</label>
                            <input type="email" id="sn" name="sitenoreply" value="{{noreply}}" placeholder="noreply@your.site" class="form-control" required="required"/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Database Information</legend>
                        <div class="form-group">
                            <label for="dt" class="control-label">Database Type</label>
                            <select is="dt" name="dbtype" class="form-control" required="required">
                                <option value="mysql">MySQL</option>
                                <option value="mysql">MariaDB</option>
                                <option value="pgsql">PostgresSQL</option>
                                <option disabled="disabled">CUBRID</option>
                                <option disabled="disabled">SQLite</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dh" class="control-label">Host</label>
                            <input type="text" id="dh" name="dbhost" value="localhost" placeholder="Where your DB is hosted" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="dn" class="control-label">Database</label>
                            <input type="text" id="dn" name="dbname" value="{{name}}" placeholder="Your database name" class="form-control"
                                required="required" data-parsley-type="alphanum"/>
                        </div>
                        <div class="control-group">
                            <label for="du" class="control-label">User</label>
                            <input type="text" id="du" name="dbuser" value="{{name}}" placeholder="Your database username" class="form-control"
                            required="required" data-parsley-type="alphanum"/>
                        </div>
                        <div class="control-group">
                            <label for="dp" class="control-label">Password</label>
                            <input type="password" id="dp" name="dbpass" placeholder="**************" class="form-control" required="required"/>
                        </div>
                        <div class="control-group">
                            <label for="cdp" class="control-label">Confirm Password</label>
                            <input type="password" id="cdp" name="cdbpass" placeholder="**************" class="form-control" data-parsley-equalto="#dp" required="required"/>
                        </div>
                    </fieldset>
                    <p class="mt-4">
                        The framework can use the mail system to send error information to you. However, many people do not
                        have mail configured on their personal systems (especially Windows systems) so the default PHP <code>mail()</code> function does
                        not work properly. The framework supports use of the <a href="https://github.com/PHPMailer/PHPMailer">PHPMailer class</a>
                        which can work without a local mail system (such as sendmail or exim) being configured.
                    </p>
                    {% if not sendmail %}
                        <p>
                            It looks as though you do <strong>NOT</strong> have a mailer configured so you may wish to configure this option.
                        </p>
                    {% endif %}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="usephpm" id="mailon"/> Enable and configure PHPMailer
                        </label>
                    </div>
                    <fieldset id="mailconfig">
                        <legend>Mail</legend>
                        <div class="form-group">
                            <label for="sh" class="control-label">SMTP Server</label>
                            <input type="text" id="sh" name="smtphost" placeholder="e.g. smtp.gmail.com" class="form-control" disabled="disabled"/>
                        </div>
                        <div class="form-group">
                            <label for="sp" class="control-label">SMTP Port</label>
                            <input type="text" id="sp" name="smtpport" placeholder="25, 465 for SSL, 587 for authenticated TLS" class="form-control"
                                 disabled="disabled" data-parsley-type="digits"/>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="protocol" value="" disabled="disabled"> Plain
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="protocol" value="ssl" disabled="disabled"> SSL
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="protocol" value="tls" disabled="disabled"> TLS
                          </label>
                        </div>
                        <div class="control-group">
                            <label for="su" class="control-label">Username</label>
                            <input type="text" id="su" name="smtpuser" value="" placeholder="Your SMTP server username" class="form-control" disabled="disabled"/>
                        </div>
                        <div class="control-group">
                            <label for="spw" class="control-label">Password</label>
                            <input type="password" id="spw" name="smtppass" placeholder="**************" class="form-control" disabled="disabled"/>
                        </div>
                        <div class="control-group">
                            <label for="csp" class="control-label">Confirm Password</label>
                            <input type="password" id="cspw" name="csmtppass" placeholder="**************" class="form-control"  disabled="disabled" data-parsley-equalto="#spw"/>
                            <p><small><em>N.B. if you have two factor authentication enabled you may need an application specific password</em></small></p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Features</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="private" value="1"/> Support file uploading with access control on downloads
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="public" value="1"/> Support file uploading with <b>NO</b> access control on downloads
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="regis" name="register" value="1"/> Support registration of new users
                            </label>
                        </div>
                        <div class="form-check" id="cfem">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" disabled="disabled" name="confemail" value="1"/> Confirm email address on registration
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="regexp" disabled="disabled" value="1"/> Support pattern matching when identifying first part of the REST URL (NOT supported fully yet)
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Security</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="usecsp" value="1"/> Emit a Content Security Policy header
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="reportcsp" value="1"/> Report Content Security Policy errors
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="forcessl" value="1"/> Emit <a href="https://tools.ietf.org/html/rfc6797">HSTS</a> header (SSL all the time)
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="em" class="control-label">Admin Email</label>
                            <input type="email" id="em" name="sysadmin" value="{{adminemail}}" placeholder="Email address for error reporting etc." class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="au" class="control-label">Admin User Login</label>
                            <input type="text" id="au" name="admin" value="{{name}}admin" placeholder="Admin user login" class="form-control"
                                required="required" data-parsley-type="alphanum"/>
                        </div>
                        <div class="form-group">
                            <label for="ap" class="control-label">Admin Password</label>
                            <input type="password" id="ap" name="adminpw" placeholder="**************" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="acdp" class="control-label">Confirm Password</label>
                            <input type="password" id="acdp" name="cadminpw" placeholder="**************" class="form-control" data-equalto="#ap" required="required"/>
                        </div>
                    </fieldset>
                    <p><input type="submit" class="btn btn-primary" value="Install"/></p>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock main %}
