{% set fwutils = TRUE %}
{% set ajax = TRUE %}

{% extends '@content/page.twig' %}

{% import '@content/iconmacro.twig' as icon %}
{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}

{% block onload %}
    document.getElementById('caform').addEventListener('submit', function(e){fwdom.stop(e);});
    fwdom.on('table', 'click', function(e){
        const targ = e.target;
        if (targ.classList.contains('delb'))
        {
            let id = targ.closest('[data-id]').getAttribute('data-id');
            framework.dodelbean(e, targ, 'fwcsp', 'this CSP Entry');
        }
    });
    fwdom.on('.actb', 'click', function(e){
        document.getElementById('caform').reset();
        document.getElementById('ctype').value = this.previousElementSibling.innerHTML;
        fwdom.mkjQ('#cadd').modal('show');
    });
    document.getElementById('addb').addEventListener('click', function(e){
        const data = {
            type: document.getElementById('ctype').value,
            host: document.getElementById('chost').value
        };
        framework.beancreate('fwcsp', data, function(d){
        }, 'addb');
    });
{% endblock onload %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Setup CSP</h1>
    </section>
{% endblock header %}

{% block main %}
    {% for type,beans in csp %}
        <section class="row mb-2 border-bottom border-dark">
            <article class="ml-auto col-md-2 ">
                <p class="text-center">{{type}}</p>
                <p class="text-center actb">{{icon.fa('plus')}}<br/><small>Add host</small></p>
            </article>
            <article class="col-md-8 mr-auto" data>
                <table class="table w-100">
                    <tbody>
                        {% for h in beans %}
                            <tr data-id="{{h.getID}}">
                                <td class="w-50">{{h.host}}</td>
                                <td class="w-50 text-center">{{icon.delete('delb')}}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
    {% endfor %}
    {{m.open({id: 'cadd', title: 'Add CSP'})}}
    <div class="modal-body">
        {{f.startform({id: 'caform'})}}
            {{f.text({label: 'Type', id: 'ctype', ph: 'CSP Type'})}}
            {{f.text({label: 'Host', id: 'chost', ph: 'Host pattern'})}}
        {{f.endform()}}
    </div>
    {{m.close({value: 'Add', id: 'addb'})}}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
