{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Developer tools</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10">
            {% include '@util/message.twig' %}
            <pre>{{array}}</pre>
            {{f.startform()}}
                {{f.text({label: 'Simple', name: 'exist', value: 42})}}
                {{f.text({label: 'Array', name: 'aexist[]', value: 42})}}
                {{f.text({label: 'Array', name: 'aexist[]', value: 42})}}
                {{f.text({label: 'Array', name: 'nexist[14]', value: 42})}}
                {{f.text({label: 'Array', name: 'nexist[15]', value: 42})}}
                {{f.text({label: 'Array', name: 'kexist[key1]', value: 42})}}
                {{f.text({label: 'Array', name: 'kexist[key2]', value: 42})}}
                {{f.submit({value: 'test'})}}
            {{f.endform()}}
        </article>
    </section>
    {% include '@devel/tests/modalbody.twig' %}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
