{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}

{% block onload %}
    $('#tform').on('submit', false);
{% endblock onload %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Developer tools</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10">
            {% include '@util/message.twig' %}
            <form id="tform">
                {{f.text({label: 'Text', id : 'textid1', name: 'text1', ph: 'text type required', required: TRUE, data: {test: 'test'}})}}
                {{f.text({label: 'Text', id : 'textid2', name: 'text2', ph: 'text type required', value: 'with value', required: TRUE})}}
                {{f.text({label: 'Text', id : 'textid3', name: 'text3', ph: 'text type disabled', disabled: TRUE})}}
                {{f.text({label: 'Text', id : 'textid4', name: 'text4', ph: 'text type disabled', value: 'with value disabled', disabled: TRUE})}}
                {{f.text({label: 'Text', id : 'textid5', name: 'text5', ph: 'text type readonly', readonly: TRUE})}}
                {{f.text({label: 'Text', id : 'textid6', name: 'text6', ph: 'text type readonly', value: 'with value readonly', readonly: TRUE})}}
                {{f.password({label: 'Password', id : 'pwid', name: 'pw', ph: 'password type'})}}
                {{f.email({label: 'Email', id : 'emid', name: 'em', ph: 'email type'})}}
                {{f.number({label: 'Number', id : 'nmid', name: 'nm', defaultValue: 42, min: 30, step: 2, max: 50})}}
                {{f.number({label: 'Range', id : 'rnid', name: 'rn', defaultValue: 15, min:10, step: 1, max: 20})}}
                {{f.datetime({label: 'DateTime', id : 'dtid', name: 'dt', ph: 'date time type'})}}
                {{f.submit({value: 'Submit Button', bstyle: 'btn-info'})}}
            </form>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
